<%= form_for(@bot) do |f| %>
  <% if @bot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bot.errors.count, "error") %> prohibited this bot from being saved:</h2>

      <ul>
      <% @bot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :player_name, "Twitter handle" %>
    <div class="input">
      <%= f.text_field :player_name, class: "medium" %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :bot_name %>
    <div class="input">
      <%= f.text_field :bot_name, class: "medium" %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :source, "Source code zip file"%>
    <div class="input">
      <%= f.file_field :source %>
    </div>
  </div>
  <div class="actions">
    <%= link_to 'Back', "/", class: "btn cancel" %>
    <%= f.submit "Upload", class: "btn primary" %>
  </div>
<% end %>