

<div class="row" style="padding-top: 50px;">
  <div class="span-one-third">
    <h1>Writing a bot</h1>
    <p>Upload a zip file containing the file bot.rb. Download sample code here <code>git clone git://mike-morris.local/ants-starter.git</code> and run a game with <code>./play_one_game.sh</code>.</p>
    <ul>
      <li><%= link_to "Read the problem description", "/static/problem-description" %></li>
      <li><%= link_to "Read the game specification", "/static/specification" %></li>
      <li><%= link_to "Read the tutorial", "/static/ants_tutorial"%></li>
      <li><%= link_to "Download the ruby starter pack", "/ruby-starter.zip" %></li>
      <li><%= link_to "Download the server pack", "/server.zip" %></li>
      <li>More information is available <%= link_to "here", "http://aichallenge.org/" %>.</li>
    </ul>
  </div>
  <div class="span-two-thirds">
    <h1>Upload Bot</h1>
    <%= render 'form' %>
  </div>
</div>
