<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bot_1_id %><br />
    <%= f.number_field :bot_1_id %>
  </div>
  <div class="field">
    <%= f.label :bot_2_id %><br />
    <%= f.number_field :bot_2_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :winner_id %><br />
    <%= f.number_field :winner_id %>
  </div>
  <div class="field">
    <%= f.label :replay %><br />
    <%= f.text_area :replay %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
