<div class="hero-unit">
  <h1>Planet of the ants</h1>
  <p>Write an AI to battle it out in ruby and upload it.
    <% if @current_match %>
      Currently <%= @current_match.bot_names %> are duking it out.</p>
    <% end %>
  </p>
  <p><a class="btn secondary large" href="/bots/new">Get started &raquo;</a></p>
</div>

<div class="row">
  <div class="span-two-thirds">
    <h1>Last 10 matches</h1>

    <table class="zebra-striped">
      <tr>
        <th>Players</th>
        <th>Winner</th>
        <th>When</th>
      </tr>

    <% @matches.each do |match| %>
      <tr>
        <td><%= link_to match.bot_names, match %></td>
        <td>
          <% if match.winner %>
            <%= match.winner.player_name %> (<%= match.winner.bot_name %>)
          <% else %>
            Draw
          <% end %>
        </td>
        <td><%= time_ago_in_words match.updated_at %> ago</td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="span-one-third">
    <h1>Leaderboard</h1>
    <table>
      <thead>
        <tr>
          <th>ELO</th>
          <th>Player (Bot)</th>
          <th>Win/Loss/Draw</th>
        </tr>
      </thead>
      <tbody>
        <% Bot.active.order("score DESC").all.each do |bot|%>
          <tr>
            <td><%= bot.score.to_i %></td>
            <td><%= bot.player_name %> (<%= bot.bot_name %>)</td>
            <td><%= bot.wins %>/<%= bot.losses %>/<%= bot.draws %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Get in the game", new_bot_path, class: "btn primary" %>
  </div>
</div>


